@import "../../Core/_AcroColorPalette.scss";

@mixin rounded($radius: 10px) {
    border-radius: $radius;
    background-clip: padding-box;
}

.btn {
    @include rounded;
    padding: 6px 12px;
    background-color: blue;
    color: $off_white;
    &:hover {
        background-color: $main-color;
        color: blue
    }
}