@import '../../Utilities/Mixins/_VendorPrefixes.scss';
@import "Mixins/_ButtonMixins";
@import "../../Layout/RichContent/_FramesAndWrapper.scss";

.btn-group {
    button {
        margin-bottom: .5em !important;
        margin-top: .5em !important;
    }

    &-tight {
        button {
            margin-bottom: .5em !important;
            margin-top: .5em !important;
        }
    }

    &-loose {
        button {
            margin-bottom: 1.2em !important;
            margin-top: 1.2em !important;
        }
    }

    &-fill {
        button {
            @include width-full;
        }
    }

    &-center-fill-tapered {
        button {
            @include center-block-horizontally-with-width(90%);
        }
    }

    &-center-fill-narrow {
        button {
            @include center-block-horizontally-with-width(70%);
        }
    }
}