@import '../../../Utilities/Mixins/_VendorPrefixes.scss';
@import '../../../Utilities/Mixins/_VendorPrefixes.scss';

@mixin build-button($class-name) {
    padding: .5em .9em;
    border: 0;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    overflow: hidden;
    font-weight: bold;
    @include box-sizing(border-box);
    @include transition(all .2s ease-in-out);
    @include border-radius(5px);
    @include elevation-button-resting;

    &:focus {
        outline: 0;
    }
}

@mixin configure-flat-button($main-color: $grey-base) {
    box-shadow: none;
    color: $main-color;
    background-color: transparent;

    &:hover:enabled {
        background-color: transparentize(#ccc, 0.8);
    }

    &:disabled, &[disabled] {
        cursor: default;
        color: lighten($grey-base, 50%);
        box-shadow: none;
    }

    &:active {
        background-color: transparentize(#ccc, 0.8);
    }
}

@mixin configure-solid-button($main-color: $grey-base) {
    box-shadow: none;
    color: $text-color;
    background-color: $main-color;
    
    &:hover:enabled {
        background-color: darken($main-color, 4%);
    }

    &:disabled, &[disabled] {
        cursor: default;
        box-shadow: none;
        color: lighten($grey-base, 30%);
        background-color: lighten($grey-base, 65%);
    }

    &:active {
        background-color: darken($main-color, 7%);
    }
}

@mixin configure-outlined-button($main-color: $grey-base) {
    box-shadow: inset 0 0 0 1px $main-color;
    color: $main-color;
    background-color: transparent;
    
    &:hover:enabled {
        background-color: darken($main-color, 4%);
    }

    &:disabled, &[disabled] {
        cursor: default;
        box-shadow: none;
        color: lighten($grey-base, 50%);
        background-color: lighten($grey-base, 65%);
        @include box-shadow(inset 0 0 0 2px lighten($grey-base, 50%));
    }

    &:active {
        background-color: lighten($main-color, 50%);
        color: white;
    }
}