#joinus-btn {
    padding: 20px 50px;
    background-color: #FF7F50;
}

#slogan {
    background-color: #208CA1;
    border-radius: 30px;
    padding: 50px;
    color: white;
}

section {
    min-height: 100vh;
}

#home {
    
}

.purposes {
    background-color: #FF7F50;
    color: white;
    font-weight: 700;
}
.purpose img {
    width: 100px;
    height: 100px;
    margin: 10px;
}